#gnore .gitignore
#.gitignore
#ignore obj and lib file
*.[oa]
#.libs/
*.lo
*.Plo
.deps/
*.obj
*.sl
*.so
*.Po
dpAlarm
cert.dat
#libs/linux64/
mysqld 
#!libs/*/*.so
!libs/*/*.a
*.tar.gz
*.dat
ftptest
dpadmin
dpio
dbcp
dpdesc
uquery
#ziptest
Makefile
makefile
*.log
*.la
config.status
lib
mysql/dbug/user.ps
mysql/include/config.h
mysql/include/my_config.h
mysql/include/mysql_version.h
mysql/libtool
mysql/mysql-test/mysql-test-run-shell
mysql/support-files/MacOSX/postflight
mysql/support-files/MacOSX/preflight
mysql/support-files/my-huge.cnf
mysql/support-files/my-innodb-heavy-4G.cnf
mysql/support-files/my-large.cnf
mysql/support-files/my-medium.cnf
mysql/support-files/my-small.cnf
mysql/support-files/mysql-log-rotate
mysql/support-files/mysql.server
samples/fetch/fetch
samples/tjydsep/ts1
samples/ziptest/.#dt_file_my.dat.1.4
samples/ziptest/a.dtp
samples/ziptest/dpfetch
samples/ziptest/dpindexq
samples/ziptest/dprep
samples/ziptest/dprmrows
samples/ziptest/dt_file.dat
samples/ziptest/dt_file_my.dat
samples/ziptest/e.txt
samples/ziptest/ziptest
MyODBC/dltest/dltest
MyODBC/installer/myodbc3i
MyODBC/monitor/myodbc3m
MyODBC/scripts
MyODBC/test/my_basics
MyODBC/test/my_blob
MyODBC/test/my_bug13766
MyODBC/test/my_bulk
MyODBC/test/my_catalog
MyODBC/test/my_curext
MyODBC/test/my_cursor
MyODBC/test/my_datetime
MyODBC/test/my_dyn_cursor
MyODBC/test/my_error
MyODBC/test/my_info
MyODBC/test/my_keys
MyODBC/test/my_param
MyODBC/test/my_prepare
MyODBC/test/my_relative
MyODBC/test/my_result
MyODBC/test/my_scroll
MyODBC/test/my_tran
MyODBC/test/my_types
MyODBC/test/my_unixodbc
MyODBC/test/my_use_result
dtio/dpsql
dtio/orasql
mysql/client/mysql
mysql/client/mysql_upgrade
mysql/client/mysqladmin
mysql/client/mysqlbinlog
mysql/client/mysqlcheck
mysql/client/mysqldump
mysql/client/mysqlimport
mysql/client/mysqlshow
mysql/client/mysqlslap
mysql/client/mysqltest
mysql/dbug/dbug_analyze
mysql/dbug/factorial
mysql/dbug/user.t
mysql/extra/charset2html
mysql/extra/innochecksum
mysql/extra/my_print_defaults
mysql/extra/mysql_waitpid
mysql/extra/perror
mysql/extra/replace
mysql/extra/resolve_stack_dump
mysql/extra/resolveip
mysql/libmysql/conf_to_src
mysql/libmysql_r/conf_to_src
mysql/regex/re
mysql/scripts/make_binary_distribution
mysql/scripts/make_sharedlib_distribution
mysql/scripts/msql2mysql
mysql/scripts/mysql_config
mysql/scripts/mysql_fix_privilege_tables
mysql/scripts/mysql_install_db
mysql/scripts/mysqlaccess
mysql/scripts/mysqlbug
mysql/scripts/mysqld_multi
mysql/scripts/mysqld_safe
mysql/server-tools/instance-manager/mysqlmanager
mysql/sql/gen_lex_hash
mysql/sql/mysql_tzinfo_to_sql
mysql/sql/mysqld
mysql/storage/heap/hp_test1
mysql/storage/heap/hp_test2
mysql/storage/myisam/mi_test1
mysql/storage/myisam/mi_test2
mysql/storage/myisam/mi_test3
mysql/storage/myisam/myisam_ftdump
mysql/storage/myisam/myisamchk
mysql/storage/myisam/myisamlog
mysql/storage/myisam/myisampack
mysql/storage/myisam/rt_test
mysql/storage/myisam/sp_test
mysql/strings/conf_to_src
mysql/tests/bug25714
mysql/tests/insert_test
mysql/tests/mysql_client_test
mysql/tests/select_test
mysql/tests/thread_test
mysql/unittest/examples/core-t
mysql/unittest/examples/no_plan-t
mysql/unittest/examples/simple-t
mysql/unittest/examples/skip-t
mysql/unittest/examples/skip_all-t
mysql/unittest/examples/todo-t
mysql/unittest/mysys/base64-t
mysql/unittest/mysys/bitmap-t
mysql/unittest/mysys/my_atomic-t
mysql/unittest/mytap/t/basic-t
samples/plattest/a.out
samples/ziptest/dpfetch
samples/ziptest/dpindexq
samples/ziptest/dprep
samples/ziptest/dprmrows
samples/ziptest/nohup.out
samples/ziptest/ziptest
MyODBC/autom4te.cache/
MyODBC/driver/myconf.h.in~
mysql/autom4te.cache/
mysql/config.h.in~
mysql/extra/comp_err
samples/desc/desc
samples/plattest/bigendian
core
autom4te.cache/
MyODBC/installer/myodbc3i            
MyODBC/monitor/myodbc3m              
tools/unixODBC-2.3.0/exe/dltest      
tools/unixODBC-2.3.0/exe/isql        
tools/unixODBC-2.3.0/exe/iusql       
tools/unixODBC-2.3.0/exe/odbc_config 
tools/unixODBC-2.3.0/exe/odbcinst    
tools/unixODBC-2.3.0/libltdl/libtool 
tools/unixODBC-2.3.0/libtool 
libtool
plugin/plugin_20121115_no_log_close.tar.gz
dtsvr/dpadmin_20121115_no_log_close.tar.gz
*305_20121115.dat
