[client]
port=3306
# The MySQL server
[mysqld]
port=3306
# 索引数据缓存,如果内存充足，可以设到512M. 这个是全局共享的缓存区。
key_buffer_size=128M

# 客户端向服务器端传送的数据包大小
max_allowed_packet=1M

#打开表的数量，请检查操作系统用户的最大打开文件数，最小为下面这个数据的4倍(ulimit -n检查).
table_cache=1800

#全表扫描时的缓存分配，单线程非共享
read_buffer_size=1M

#表名小写
lower_case_table_names

#线程缓冲。单位是线程数量
thread_cache_size=200

#datamerge表专用全局缓冲区，单位是MB
dp_cache_size=300

#空闲客户端保持连接时间，两个参数分别控制网络连接和本机连接。单位是秒
wait_timeout = 129600
interactive_timeout = 129600
#写网络的延迟最大值，单位是秒
net_write_timeout =300


#允许core
core-file
#并发线程数，一般设置为CPU个数的2倍
# Try number of CPU's*2 for thread_concurrency
 thread_concurrency=4

#myisam表的排序缓冲 
 myisam_sort_buffer_size=32M

#服务器id
server-id	= 1
#最大连接数
max_connections = 600

#打开慢速查询的日志
log_slow_queries = slowquery.log
#慢速查询的判断时间，单位秒
long_query_time = 60

[mysqldump]
quick
set-variable	= max_allowed_packet=16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[isamchk]
set-variable	= key_buffer=256M
set-variable	= sort_buffer=256M
set-variable	= read_buffer=2M
set-variable	= write_buffer=2M

[myisamchk]
#以下两个数据对迁移过程的效率有影响，不要设置小雨64M
set-variable	= key_buffer_size=512M
set-variable	= sort_buffer_size=512M
#以下两个数据对迁移过程的效率有影响，不要设置小雨4M
set-variable	= read_buffer=16M
set-variable	= write_buffer=16M

[mysqlhotcopy]
interactive-timeout

